@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<style>
    #account .text-danger{
        color: yellow !important;
    }
</style>

    <div class="col-md-4" id="login">
        <section>
            <form id="account" method="post">
                <h4 style="text-align: center; color: yellow; font-weight: bold;font-size:40px ">@ViewData["Title"]</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" style="margin-bottom:45px" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
             
                <div class="form-group">
                    <input type="submit" class="btn btn-primary form-control" value="Log In" >
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                   
                </div>
            </form>
        </section>
    </div>
   

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
