@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<style>
    #register .text-danger {
        color: yellow !important;
    }
   #register .btn-primary
    {
        background-color: unset !important;
        border-color: yellow !important;
        margin-bottom:21px;
        margin-top:10px;
    }
    #register {
        color: white !important;
    }
</style>

    <div class="col-md-4" id="register">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" id=" formregister">
            <h4 style="text-align: center; color: yellow; font-weight: bold;font-size:40px ">@ViewData["Title"]</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>s
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-primary form-control" value="Register">
        </form>
        <a href="~/Identity/Account/Login" style="color:white;font-weight:600">Back to Login</a>
    </div>
    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
