@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<style>
    #passwordconfirm {
        margin-top: 135px !important;
        margin-left: 10px !important;
        background-color: transparent !important;
        padding: 15px;
    }
</style>
<div id="passwordconfirm">
    <h1 style="color:yellow;font-size:40px">@ViewData["Title"]</h1>
    <p style="color:white">
        Please check your email to reset your password. Please <a asp-page="./Login" style="color:yellow">click here to Log in</a>.
    </p>
</div>